<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taxigo"
        tools:targetApi="31">
        <activity
            android:name=".Ticket_coversation_Activity"
            android:exported="false" />
        <activity
            android:name=".Ticket_Details_Activity"
            android:exported="false" />
        <activity
            android:name=".Ticket_Activity"
            android:exported="false" />
        <activity
            android:name=".About_Activity"
            android:exported="false" />
        <activity
            android:name=".Languages_Activity"
            android:exported="false" />
        <activity
            android:name=".preference_activity"
            android:exported="false" />
        <activity
            android:name=".select_an_order_Activity"
            android:exported="false" />
        <activity
            android:name=".support_Activity"
            android:exported="false" />
        <activity
            android:name=".Redirect_support_Activity"
            android:exported="false" />
        <activity
            android:name=".Search_Activity"
            android:exported="false" />
        <activity
            android:name=".settings_Activity"
            android:exported="false" />
        <activity
            android:name=".claim_activity"
            android:exported="false" />
        <activity
            android:name=".Notification_Activity"
            android:exported="false" />
        <activity
            android:name=".powerpass_Activity"
            android:exported="false" />
        <activity
            android:name=".taxigocoin_Activity"
            android:exported="false" />
        <activity
            android:name=".myreward_Activity"
            android:exported="false" />
        <activity
            android:name=".referearn_Activity"
            android:exported="false" />
        <activity
            android:name=".myride_Activity"
            android:exported="false" />
        <activity
            android:name=".complete_profile_Activity"
            android:exported="false" />
        <activity
            android:name=".Payment_Activity"
            android:exported="false" />
        <activity
            android:name=".Earn_money"
            android:exported="false" />
        <activity
            android:name=".ridewin_Activity"
            android:exported="false" />
        <activity
            android:name=".full_map_Activity"
            android:exported="false" />
        <activity
            android:name=".Local_send_items_activity"
            android:exported="false" />
        <activity
            android:name=".profile_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>